<mat-sidenav-container  hasBackdrop="false">
    <mat-sidenav [opened]="toggle" position="end" mode="over" autoFocus="false">
        <h1>Notes</h1>
        <textarea matInput placeholder="Notes" [(ngModel)]="focusItem"></textarea>
    </mat-sidenav>


    <mat-sidenav-content (click)="colapseNotes()">
        <table style="list-style: none;">
            <tr>
                <th>Item</th>
                <th>
                    <app-statement-dates [initialSelection]="1" (dateChangeEvent)="dateChange($event)"></app-statement-dates>
                </th>
                <th>
                    <app-statement-dates [initialSelection]="0" (dateChangeEvent)="dateChange($event)"></app-statement-dates>
                </th>
                <th>% Change</th>
                <th>Value Change</th>
            </tr>
            <tr *ngFor="let item of itemList">
                <td>
                    <span *ngFor="let _ of [].constructor(item.treeHeight)"> &nbsp;&emsp;</span>
                    {{item.item}}
                </td>
                <td (mouseout)="colapseNotes()" (mouseenter)="bringInNotes(item.notes1,$event)" >${{item.amount1 | number}}
                </td>
                <td (mouseout)="colapseNotes()" (mouseenter)="bringInNotes(item.notes2,$event)" >${{item.amount2 | number}}
                </td> 
                <td>
                    {{getPercChange(item.amount1,item.amount2)}}%
                </td> 
                <td>
                    $ {{item.amount2 - item.amount1 | number}}
                </td>   
               <!-- <button (click)="printItems()">+</button>-->
            </tr>
        </table>
    </mat-sidenav-content>
</mat-sidenav-container> 